.contact-us {
  position: relative;
  &__wrapper {
    //  position: relative;

    @include on-desktop {
      @include page-grid;
    }
  }
  &__form {
    grid-column: span 6;
  }
  &__input-wrapper {
    display: grid;
    row-gap: 16px;
    margin-bottom: 32px;
  }

  &__input {
    box-sizing: border-box;
    padding-inline: 16px;
    padding-block: 14px;
    display: block;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: none;
    outline: none;
    height: 48px;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #7e7e83;

    &--message {
      height: 148px;
      resize: none;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.15px;
      color: #7e7e83;
      text-align: left;
    }

    &:hover {
      outline: 1px solid #dbdbdb;
    }

    &:focus {
      outline: 2px solid #f98921;
    }

    &:not(:placeholder-shown) {
      border: none;
      outline: none;
    }
  }

  &__button {
    display: block;
    background-color: #f98921;
    width: 100%;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    padding-inline: 48px;
    height: 56px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;

    @include hover(background-color, #1b2129);
  }

  &__contacts {
    display: grid;
    row-gap: 24px;
    grid-column: 8 / span 5;
  }

  &__description {
    color: #9393a3;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
  }

  &__information {
    color: #191919;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    text-decoration: none;

    @include hover(color, #9393a3);
  }

  // &__footer {
  //   position: sticky;
  //   bottom: 0;
  //   z-index: -1;
  // }

  // &__content {
  //     position: relative;
  //     z-index: 1;
  //     background: white;
  // }
}
