.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;

  &__image {
    display: block;
    background-image: url(../../images/musical-equipment.png);
    background-position: center;
    background-size: cover;
    height: 200px;


    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 480px;
    }
  }
}
