/* #region page */
.page {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #1B2129;
}

.page__body {
  margin: 0;
}

.page__menu {
 position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion */

/* #region header */
.header {
box-sizing: border-box;
padding: 24px 20px 40px ;
height: 100vh;
background-image: url(../../images/header-bg-mobile.png);
background-size: cover;
background-position: center;

display: flex;
flex-direction: column;
justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__title {
  margin: 0;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  color: #FFF;
}

.header__logo {
  display: block;
  max-width: 152px;
  height: auto;
}

/* #endregion */

/* #region icon */
.icon {
display: block;
height: 24px;
width: 24px;
}

.icon--phone {
  background-image: url(../../images/icons/icon-phone.png);
}

.icon--menu {
  background-image: url(../../images/icons/icon-burger-menu.png);
}

.icon--close {
background-image: url(../../images/icons/icon-close.png);
}

/* #endregion */

/* #region menu */
.menu {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-color: #F9F9F9;
}

.menu__content {
  position: relative;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  display: block;
  max-width: 152px;
  height: auto;
}

/* #endregion */


/*
A mix is a BEM technique that allows one element to
 have multiple responsibilities by combining a block
and an element on the same HTML node.
In our case:
The menu block is responsible for internal styling
and behavior (structure, inner layout, appearance).
The page__menu element is responsible for external
layout and positioning within the page block.
So:
menu → what it is
page__menu → where it lives

When for block (in our case its menu) we should
set position: relative, then we can dont mix this
block with element (in our case its page__menu).
Instead we can just add elements of parent blocks
as wrap.

Therefore, using mixes for blocks is the preferred
approach.If position: relative is required, adding
a wrapperelement inside the block helps prevent
layout issues related to mixing responsibilities

  */

